@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --pink: rgb(255, 65, 106);
  --light-grey: rgb(240, 240, 240);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: var(--pink);
  padding: 0.7rem 2rem;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

h1 {
  margin-right: auto;
}

.login {
  cursor: pointer;
}

header svg {
  height: 3rem;
  margin-left: 1rem;
}

.body-container {
  display: grid;
  grid-template-columns: 15rem 1fr;
}

/* -----------------
ASIDE
-------------------*/

aside {
  min-height: calc(100vh - 4.4rem);
  background-color: var(--light-grey);
  padding: 2rem;
}

.aside-title {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--pink);
  margin-bottom: 0.5rem;
}

.tasks-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item .nav-selected {
  position: absolute;
  left: 0;
  height: 2rem;
  width: 0.4rem;
  background: var(--pink);
}

.nav-button > img {
  width: 1.8rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.nav-button,
.add-task,
.submit-btn {
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav-button {
  text-align: left;
  display: flex;
  align-items: center;
}

.nav-button:hover {
  transform: translateX(5px);
}

.amount {
  background-color: var(--pink);
  font-size: 0.8rem;
  color: white;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  user-select: none;
}

/* -----------------
MAIN
-------------------*/
main {
  padding: 2rem max(2rem, 5vw);
}

.submit-btn,
.add-task {
  color: var(--white);
  background-color: var(--pink);
  width: 100%;
  border-radius: 5px;
  outline: solid 2px var(--pink);
  outline-offset: -2px;
}

.add-task {
  font-weight: 700;
  padding: 0.5rem;
}

.add-task:hover,
.submit-btn:hover {
  background-color: var(--white);
  color: var(--pink);
}

/* -----------------
DIALOG
-------------------*/

dialog {
  width: 22rem;
  padding: 1.5rem 1.5rem 0.8rem;
  position: fixed;
  top: 10rem;
  margin: 0 auto;
  border-radius: 5px;
  border: 0.2rem solid var(--pink);
  background-color: var(--white);
}

dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.close-modal-btn {
  color: var(--pink);
  font-weight: 700;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

.textarea {
  display: block;
  color: var(--pink);
  width: 92%;
  min-height: 3rem;
  overflow: hidden;
  resize: none;
  line-height: 20px;

  font-weight: 700;
  cursor: text;
}

.textarea:focus-visible {
  outline: none;
}

.textarea:empty::before {
  content: 'Type your task here';
  color: #bbb;
  font-weight: 400;
}

.input-block {
  display: grid;
  grid-template-columns: 4rem 1fr;
  align-items: center;
  row-gap: 0.5rem;
}

.radio-block {
  display: flex;
}

label,
input[type='date'],
input[type='radio']::before {
  font-size: 0.7rem;
  font-family: 'Poppins', sans-serif;
}

input[type='date'] {
  background-color: var(--light-grey);
  border: none;
  height: 1.5rem;
  padding: 0.7rem;
  border-radius: 5px;
}

input[type='radio'] {
  appearance: none;
  padding: 0.1rem 0.7rem;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  flex: 1 0 auto;
  text-align: center;
}

input[type='radio']#low-priority {
  border-color: green;
}

input[type='radio']#medium-priority {
  border-color: gold;
  margin: 0 0.4rem;
}

input[type='radio']#high-priority {
  border-color: red;
}
input[type='radio']#low-priority:checked {
  background-color: green;
  color: var(--white);
}

input[type='radio']#medium-priority:checked {
  background-color: gold;
  color: var(--white);
}

input[type='radio']#high-priority:checked {
  background-color: red;
  color: var(--white);
}

input[type='radio']#low-priority::before {
  border-color: green;
  content: 'Low';
}

input[type='radio']#medium-priority::before {
  border-color: green;
  content: 'Medium';
}

input[type='radio']#high-priority::before {
  border-color: green;
  content: 'High';
}

.submit-btn {
  height: 1.5rem;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.error,
.grid-error {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 80%;
  text-align: center;
  color: white;
  background-color: #f00;
  border-radius: 0 0 5px 5px;
  margin-bottom: 0.5rem;
}

.error.active,
.grid-error.active {
  padding: 0.3rem;
}

.grid-error {
  grid-column: 1/-1;
}
