@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --pink: rgb(255, 65, 106);
  --light-grey: rgb(240, 240, 240);
  --white: rgb(255, 255, 255);
  --font: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  user-select: none;
}

header {
  background-color: var(--pink);
  padding: 0.7rem 2rem;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

h1 {
  margin-right: auto;
}

.login {
  cursor: pointer;
}

header svg {
  height: 3rem;
  margin-left: 1rem;
}

.body-container {
  display: grid;
  grid-template-columns: 15rem 1fr;
}

/* -----------------
ASIDE
-------------------*/

aside {
  min-height: calc(100vh - 4.4rem);
  background-color: var(--light-grey);
  padding: 2rem;
  position: relative;
}

.aside-title {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--pink);
  margin-bottom: 0.5rem;
}

.tasks-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item .nav-selected {
  position: absolute;
  left: 0;
  height: 2rem;
  width: 0.4rem;
  background: var(--pink);
  display: none;
}

.nav-selected:has(+ .nav-button.active) {
  display: block;
}

.nav-button > img {
  width: 1.8rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.nav-button,
.add-task,
.submit-btn,
.add-project {
  border: none;
  font-family: var(--font);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav-button {
  text-align: left;
  display: flex;
  align-items: center;
}

.nav-button:hover,
.nav-button.active {
  transform: translateX(5px);
}

.amount {
  background-color: var(--pink);
  font-size: 0.8rem;
  color: white;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

/* -----------------
MAIN
-------------------*/
main {
  padding: 2rem max(2rem, 5vw);
}

.submit-btn,
.add-task,
.add-project {
  color: var(--white);
  background-color: var(--pink);
  width: 100%;
  border-radius: 5px;
  outline: solid 2px var(--pink);
  outline-offset: -2px;
}

.add-task,
.add-project {
  font-weight: 700;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.add-project {
  position: absolute;
  bottom: 1rem;
  width: calc(100% - 4rem);
}

.add-task:hover,
.submit-btn:hover,
.add-project:hover {
  background-color: var(--white);
  color: var(--pink);
}

/* -----------------
TASK LIST
-------------------*/
.task-div {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  min-height: 2rem;
  margin: 0.2rem 0;
}

.task-div.done {
  color: #aaa;
  text-decoration: line-through;
}

.task-div:nth-of-type(2n + 1) {
  background-color: var(--light-grey);
}

.task-priority {
  flex: 0 0 6px;
  align-self: stretch;
  background-color: aqua;
}

.task-priority.low {
  background-color: green;
}

.task-priority.medium {
  background-color: gold;
}

.task-priority.high {
  background-color: red;
}

.task-div.done .task-priority {
  background-color: #aaa;
}

.task-div input[type='checkbox'] {
  flex: 0 0 1.1rem;
  appearance: none;
  aspect-ratio: 1;
  background-color: #fff;
  border: solid 2px var(--pink);
  border-radius: 100%;
  margin: 0 0.5rem 0 0.8rem;
  overflow: hidden;
  display: grid;
  place-content: center;
  font-family: var(--font);
  color: #aaa;
  cursor: pointer;
  background-image: url(./assets/checkbox.svg);
  background-repeat: no-repeat;
  background-size: 0;
}

.task-div input[type='checkbox']:checked {
  transition: 0.3s transform;
  flex-basis: 1.3rem;
  background-color: transparent;
  background-size: 100%;
  border: none;
  position: relative;
  transform: rotate(360deg);
  left: -1px;
  margin-right: 0.3rem;
}

.task-name {
  flex: 1 1 80%;
  padding: 0.5rem;
}

.task-duedate {
  flex: 0 0 auto;
  font-size: 0.85rem;
  margin-left: 1rem;
}

.task-icon {
  height: 1.8rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: 0.2s;
  fill: var(--pink);
}

.delete {
  fill: #888;
  margin-left: 0;
}

.delete:hover {
  fill: red;
  transform: scale(1.1);
}

/* -----------------
DIALOG
-------------------*/

dialog {
  width: 22rem;
  padding: 1.5rem 1.5rem 0.8rem;
  position: fixed;
  top: 10rem;
  margin: 0 auto;
  border-radius: 5px;
  border: 0.2rem solid var(--pink);
  background-color: var(--white);
}

dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.close-modal-btn {
  color: var(--pink);
  font-weight: 700;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

.textarea,
.note-title,
.project-title {
  display: block;
  color: var(--pink);
  width: 92%;
  overflow: hidden;
  resize: none;
  line-height: 20px;
  font-weight: 700;
}

.textarea {
  cursor: text;
  min-height: 3rem;
}

.textarea:focus-visible,
.note-field:focus-visible,
.project-field:focus-visible {
  outline: none;
}

.textarea:empty::before {
  content: 'Type your task here';
  color: #bbb;
  font-weight: 400;
}

.input-block {
  display: grid;
  grid-template-columns: 4rem 1fr;
  align-items: center;
  row-gap: 0.5rem;
}

.radio-block {
  display: flex;
}

label,
input[type='date'],
input[type='radio']::before {
  font-size: 0.7rem;
  font-family: var(--font);
}

input[type='date'] {
  background-color: var(--light-grey);
  border: none;
  height: 1.5rem;
  padding: 0.7rem;
  border-radius: 5px;
}

input[type='radio'] {
  appearance: none;
  padding: 0.1rem 0.7rem;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  flex: 1 0 auto;
  text-align: center;
}

input[type='radio']#low-priority {
  border-color: green;
}

input[type='radio']#medium-priority {
  border-color: gold;
  margin: 0 0.4rem;
}

input[type='radio']#high-priority {
  border-color: red;
}
input[type='radio']#low-priority:checked {
  background-color: green;
  color: var(--white);
}

input[type='radio']#medium-priority:checked {
  background-color: gold;
  color: var(--white);
}

input[type='radio']#high-priority:checked {
  background-color: red;
  color: var(--white);
}

input[type='radio']#low-priority::before {
  border-color: green;
  content: 'Low';
}

input[type='radio']#medium-priority::before {
  border-color: green;
  content: 'Medium';
}

input[type='radio']#high-priority::before {
  border-color: green;
  content: 'High';
}

.submit-btn {
  height: 1.5rem;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.error,
.grid-error {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 80%;
  text-align: center;
  color: white;
  background-color: #f00;
  border-radius: 0 0 5px 5px;
  margin-bottom: 0.5rem;
}

.error.active,
.grid-error.active {
  padding: 0.3rem;
}

.grid-error {
  grid-column: 1/-1;
}

.note-title,
.project-title {
  user-select: none;
  margin-bottom: 1rem;
}

.note-field,
.project-field {
  background-color: var(--light-grey);
  padding: 0.5rem;
}

.project-field {
  border: none;
  width: 100%;
}

.project-field::placeholder {
  font-family: var(--font);
}

.note-field:empty::before {
  content: 'Type here your note';
  color: #bbb;
  font-weight: 400;
}
